/* .navbar-custom {
    color: #FFFFFF;
    font: normal 400 16px "ff-tisa-web-pro",serif;
}
.custom-a {
    font-weight: bold;
}
a:focus {
    font-weight: bold;
}
nav a:hover {
    background-color: darkgray;
    font-weight: bold;
} */


.navbar-custom {
    color: #FFFFFF;
    font: normal 400 16px "ff-tisa-web-pro",serif;
}
.custom-a {
    font-weight: bold;
}
a:focus {
    font-weight: bold;
}
nav a:hover {
    background-color: darkgray;
    font-weight: bold;
}
