  .footer {
    padding-left: 50px;
    padding-top: 15px;
    padding-bottom: 30px;
    margin-top: 15px;
    border-top: 5px solid rgb(99, 112, 128);
    background-color: #4f4e53;
    text-align: left;
  }
  .footer-content {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 18px;
    font-weight: 600;
  }
  a:hover{
    color: darkkhaki;
    text-decoration: none;
  }
  