<!-- The dummy text is adapted from https://www.lipsum.com/feed/html -->

<div class="homeCare">
    <h1>Home Care Service</h1>
    <hr>
    <h4>We provide a number of services</h4>
    <ul>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
        <li>lorem ipsum</li>
    </ul>
    <br>
    <h4>Hourly Care</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod 
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, 
        quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo 
        consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse 
        cillum dolore eu fugiat nulla pariatur. Morbi dignissim risus ante, ac 
        ultricies neque mollis non. Quisque dapibus quam venenatis, condimentum risus ac, 
        lobortis nunc.</p>
    <br>
    <h4>Full Day Care</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
        incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
        nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
        eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
        culpa qui officia deserunt mollit anim id est laborum. Orci varius natoque 
        penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed sit amet 
        ultricies libero, vel sodales orci. Sed sit amet euismod nisi. Vivamus id tellus 
        et augue blandit pulvinar. Suspendisse potenti. Nam blandit elit interdum, 
        condimentum metus quis, molestie diam.</p>
    <br>
    <div>
        <button class="btn btn-primary" (click)="onScheduleCare()">Schedule Home Care</button>
    </div>
</div>